.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 13px #01499e59;

    width: 320px;

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
            color: #555;
        }

        input {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;

            &:focus {
                border-color: #007bff;
                outline: none;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }
    }

    .login-button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }

    .social-login {
        display: flex;
        margin-top: 20px;

        .icon-button {
            margin-right: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            font-size: 18px;
            color: white;
            transition: background-color 0.3s;

            &.facebook {
                background-color: #3b5998;

                &:hover {
                    background-color: #2d4373;
                }
            }

            &.google {
                background-color: #db4437;

                &:hover {
                    background-color: #c23321;
                }
            }
        }
    }

    .forgot-password {
        text-align: center;
        margin-top: 15px;

        a {
            color: #007bff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
