@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --style-font-family: 'Roboto', sans-serif;
    --primary: #45c3d2;
    --text-color: #333333;

    //Defaul Layout
    --defaul-layout-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--style-font-family);
}

html {
    // font-size: 62.5%;
    font-size: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
}

.wrap {
    max-width: var(--defaul-layout-width);
    width: 100%;
    margin: auto;
    // padding-left: 15px;
    // padding-right: 15px;
}

.content {
    flex: 1;
    overflow: hidden;
    margin-top: 70px;
    background-color: #fff;
}

.content_admin {
    flex: 1;
    overflow: hidden;
    margin-top: 70px;
}
