.filter {
    margin-top: 25px;
    h3 {
        font-size: 20px;
    }
    .filter__item {
        display: flex;
        align-items: center;
        margin-top: 10px;
        p {
            width: 90px;
            margin: 0;
        }

        input {
            cursor: pointer;
            border-radius: 5px;
            padding: 0 4px;
            border: 1px solid #000;
        }
    }
    .filter__btn {
        margin: 15px 15px 15px 0;
        font-size: 16px;
    }
}
